* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(135deg, #2d3748, #1e293b);
    color: #e5e7eb;
    line-height: 1.6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(./product-backdrop-cinematic-smoke-realistic-design_53876-128288.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
}

.backdrop-blur-xl {
    backdrop-filter: blur(10px);
    background-color: rgba(31, 41, 55, 0.416);  
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(247, 247, 247, 0.6);
}

.dateyear {
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: bold;
    color: #00ff40;
}

.yearold {
    margin-top: 0.5rem;
    font-size: 4.5rem;
    font-weight: 600;
    color: #fbbf24;
    text-decoration: underline;
    text-decoration-style: double;
}

.message {
    margin-top: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    color: #93c5fd;
}

.message span {
    display: block;
    margin-bottom: 1rem;
    font-size: 2.25rem;
    color: #a78bfa;
    text-decoration: underline;
    text-decoration-style: wavy;
}

#birthdayTime {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: bold;
    color: #e5e7eb;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.clock {
    text-align: center;
    margin: 0 0.5rem;
    border: 5px solid #ffffff;
    padding: 20px;
    border-radius: 50%;
    background-color: #3b5c9567;
}

.clock h2 {
    font-size: 3.75rem;
    font-weight: bold;
    color: #32fb24;
}

.clock small {
    font-size: 1.2rem;
    color: #fefefe;
    font-weight: 500;
}