body {
    font-family: Arial, sans-serif;
}

#h1 {
    background-color: black;
    color: white;
    font-size: 2.5rem;
    padding: 10px;
    text-align: center;
}

.profile-pic {
    display: block;
    width: 200px;
    height: 170px;
    /* border-radius: 50%; */
    margin: 0 auto 10px;
}

#students-container {
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.student-card {
    width: auto;
    overflow: hidden;
    background-color: #ffffff;
    border: 2px solid #0e4d92;
    padding: 20px;
    margin: 10px 0;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    border-radius: 5px;
    background-color: #0e4d92;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.header h1 {
    margin: 0;
    font-size: 20px;
}

.student-card p {
    margin: 5px 0;
}

.student-info {
    margin-top: 20px;
    text-align: center;
}

.student-card strong {
    color: #333;
}

.carousel-container {
    position: relative;
    width: auto;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to bottom, #e0c3fc, #8ec5fc);
}

.student-card {
    display: none;
    width: 300px;
}

.student-card.active {
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

#btn {
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prev {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color: #8ec5fc;
}

#next {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color: #8ec5fc;
}

