#h1{
 font-weight: bold;
 font-size: 2.5rem;
 background-color: black;
 color: aliceblue;
 padding: 10px;
 border-radius: 50px;
 text-align: center;
}

#slider-wrapper {
    overflow: hidden;
    position: relative;
    padding: 20px;
    width: 90%;
    margin: auto;
}

.slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.student-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 3px;
}

.header h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.profile-pic {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#prev {
    left: 20px;
    margin-top: 13%;
}

#next {
    right: 20px;
    margin-top: 13%;
}