body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#formcontainer {
    position: relative;
    width: 700px;
    padding: 50px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.929) 0px 3px 8px;
    color: white;
}

#formcontainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./bg-image/view-chicago-skyline-lake-by-night-usa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
}

h2 {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#task-list {
    margin-top: 20px;
}

.task-item {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task-item span {
    display: none;
    margin-left: 10px;
    color: blue;
}

.complete-btn {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(26, 255, 0);
}

.priority {
    font-weight: bold;
}

#task-input {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

#priority-input {
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

#date-input {
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn {
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: black;
    color: greenyellow;
}