* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #e0c3fc, #8ec5fc);
}

.container {
    width: 500px;
    padding: 20px;
    background-color: #6c545485;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.calculator {
    width: 100%;
    background-color: #fafafa;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    width: 100%;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
}

#tipPercent,
#splitCount {
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}